/* -----------------------------------------------------------
   IMPORTS
------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('variables.css');

/* -----------------------------------------------------------
   BASE STYLES
------------------------------------------------------------ */
body {
  font-family: 'Fira Code', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  color: var(--veryLightGray);
  margin: 0;
  padding: 0;
  cursor: url('../assets/images/arrowcursor.png'), auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: aquamarine;
}

/* -----------------------------------------------------------
   LAYOUT
------------------------------------------------------------ */
main {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

/* -----------------------------------------------------------
   NAVIGATION
------------------------------------------------------------ */

.navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  bottom: 25px;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background-color: black;
  z-index: 1;
  overflow: hidden;
}

/* -----------------------------------------------------------
   COMPONENTS
------------------------------------------------------------ */
.navbar-home {
}
.navbar img {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navbar-background {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: black;
  border: 2px solid var(--vividSkyBlue);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
}

.navbar-active {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  gap: 10px;
  width: 150px;
  color: var(--vividSkyBlue);
  transition: linear 0.2s;
}

.navbar-inative {
  animation: linear 0.2s navbar;
}

.hidden {
  display: none;
  transition: linear 1s;
}

/* -----------------------------------------------------------
   SECTIONS
------------------------------------------------------------ */

/* Section About */
.section-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.section-about h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 800;
  margin: 0;
  color: var(--veryLightGray);
}

.section-about p {
  margin: 0;
  color: var(--vividSkyBlue);
  text-align: center;
}

.section-about ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  padding: 0;
  gap: 1rem;
  list-style: none;
}

.section-about ul li {
  margin: 0;
}

/* Section Logo */
.section-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.section-logo svg {
  width: 100%;
  filter: drop-shadow(1px 0px 1px var(--veryLightGray));
  fill: var(--veryLightGray);
  stroke: var(--veryLightGray);
  stroke-dasharray: 474;
  animation: drawLogo 4s linear;
}

/* Slide Pages */
.slide-container {
  width: 250px;
  margin-top: 25px;
  overflow: hidden;
  white-space: nowrap;
}

.slide-pages {
  display: inline-block;
  animation: slidePages 5s linear infinite;
}

.slide-pages img {
  width: 60px;
  margin: 0 20px 0 0;
}

/* -----------------------------------------------------------
   ANIMATIONS
------------------------------------------------------------ */

@keyframes drawLogo {
  0% {
    stroke-dashoffset: 474;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--veryLightGray);
  }
}

@keyframes slidePages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50.5%);
  }
}

@keyframes navbar {
  0% {
    width: 150px;
  }
  100% {
    width: 40px;
  }
}

/* -----------------------------------------------------------
   MEDIA QUERIES
------------------------------------------------------------ */

@media (min-width: 500px) {
  .section-logo {
    width: 30vw;
  }
}

@media (min-width: 1000px) {
  main {
  }

  .section-about h1 {
    font-size: 50px;
  }

  .section-about p {
    font-size: 30px;
  }

  .section-logo {
    width: 20vw;
  }

  .slide-container {
    width: 600px;
  }
}
