@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

main {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgba(255, 0, 0, 0.13);
    flex: 1;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center; 
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
}

a {
    text-decoration: none;
}

h1 {
    /*TextConfig*/
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: -0.2rem;
    /*Margem*/
    margin-block-start: 0.70em;
    margin-block-end: 0.70em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 96%;
}

.logoTitle {
    display: flex;
    justify-content: center;
    width: 100%;
}

.biosec {
    display: flex;
    height: 80svh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 3rem;
    background: rgba(255, 0, 0, 0.13);
}

.bio {
    flex: 1;
    width: 100%;
    background: rgba(255, 0, 0, 0.13);
}

.bioName {
    display: flex;
    font-size: 5rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: -0.5rem;
    margin: 0%;
}

.bioDesc {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: -0.3rem;
    margin: 0%;
    white-space: pre-line;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.iconCrowBio {
    max-width: 30%;
    height: auto;
    background: rgba(20, 230, 1, 0.13);

}




/* Deixar para depois */

/* 
.logo3 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    order: 1;
    justify-content:space-between;
    width: 100%;
} 

 .logo4 {
    display: block;
    width: 100%;
} 

 .link-icon {
    max-width: 5%;
    height: auto;
} 

.iconTopBar {
    max-width: 5%;
    height: auto;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

*/