@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('variables.css');

body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/src/img/BackgroundPolygonVertical.svg");
    background-size:cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    cursor: url("/src/img/arrowCursor.svg");
    
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 15px 0 0;
    border: 0;
    width: 100%;
}

header nav {

}

header nav ul {
    display: none;
    list-style: none;
    gap: 20px;
    padding: 0;
    color: #ffffff;
}

header nav ul a {
    color: #ffffff;
}

main {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;

}

.superior-menu {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    width: 100vw;
}

.esquerdo-superior {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 0px 0px 100% 0px;
    background-color: var(--aero);
    cursor: url("/src/img/arrowCursor.svg");
}

.expand1:hover {
    transform:skew(-15deg);
}

.expand2:hover {
    transform:skew(10deg);
}

.esquerdo-superior p {
    color: #ffffff;
    margin: 0 0 0 50px;
    font-size: 18px;
}

.menu-about-img {
    width: 60%;
    height: auto;
}

.about-arrow-img {
    width: 50%;
    height: 60px;
    margin-left: 20px;
    transform: rotateZ(180deg);
}

.direito-superior {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 0 0 0 100%;
    background-color: var(--aero);
    cursor: url("/src/img/arrowCursor.svg");
}

.direito-superior p {
    color: #ffffff;
    margin: 0 50px 0 0;
    font-size: 18px;

}

.menu-projects-img {
    width: 55%;
    height: auto;
}

.projects-arrow-img {
    width: 50%;
    height: 60px;
    margin-left: 50px;
    padding: 0;
    transform: rotateX(180deg);
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-button {
    background-color: transparent;
    border: 0;
    margin: 10px 5px 0 0;
    padding: 0;
    cursor: pointer;
}

.section-about {
    text-align: center;
}

.section-about p {
    margin: 0;
    color: var(--aero);
}

.section-about h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    color: var(--white);
}

.section-about ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0;
    gap: 1rem;
    list-style: none;
    line-height: 0;
}

.section-about ul li{
    margin: 0;
}

.section-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: auto;
}

.section-logo svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 0px 1px white);
    fill: white;
    stroke: white;
    stroke-dasharray: 474;
    stroke-dashoffset: 0;
    animation: drawLogo 4s linear;
    
}

footer {
    color: #ffffff;
    text-align: center; 
    padding: 0;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

@keyframes drawLogo {
    0%{
        stroke-dashoffset: 474;
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
        filter: drop-shadow(1px 0px 1px white);
    }
}

@media (min-width: 1000px) {
    body {
        background-image: url(/src/img/BackgroundPolygonHorizontal.svg)
    }

    header {
        margin: 0;
        justify-content: center;
    }

    header nav ul {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    main {
        flex-direction: row;
    }

    section {
        
    }

    .section-about {
        text-align: left;
    }

    .section-about p {
        font-size: 30px;
        font-weight: 300;
    }
    
    .section-about h1 {
        font-size: 60px;
    }

    .section-about ul {
        justify-content: flex-start;
    }
    
    .section-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60vh;
        height: auto;
        margin-left: 3rem;
    }

}