@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('variables.css');

body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/backgroundvertical.png");
    background-size:cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    cursor: url('../img/arrowcursor.png'), auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 15px 0 0;
    border: 0;
    width: 100%;
}

header nav {

}

header nav ul {
    display: none;
    list-style: none;
    gap: 20px;
    padding: 0;
    color: #ffffff;
}

header nav ul a {
    color: #ffffff;
}

main {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;

}

.superior-menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.esquerdo-superior {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 0px 0px 100% 0px;
    background-color: var(--aero);
    cursor: url("../img/pointercursor.png"), auto;
}

.esquerdo-superior p {
    position: relative;
    z-index: -1;
    color: transparent;
    font-size: 18px;
    margin: 0;
    top: 10px;
    left: -60px;
    animation: none;
}

.esquerdo-superior:hover p {
    animation: menuAbout 0.5s forwards;
}

.menu-about-img {
    position: relative;
    width: 60%;
    height: auto;
}

.direito-superior {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 0 0 0 100%;
    background-color: var(--aero);
    cursor: url("../img/pointercursor.png"), auto;
}

.direito-superior p {
    position: relative;
    z-index: -1;
    color: transparent;
    font-size: 18px;
    margin: 0;
    top: 10px;
    right: -40px;
    animation: none;
}

.direito-superior:hover p {
    animation: menuProjects 0.5s forwards;
}

.menu-projects-img {
    position: relative;
    width: 55%;
    height: auto;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mobile-menu-button {
    background-color: transparent;
    border: 0;
    margin: 10px 5px 0 0;
    padding: 0;
    cursor: pointer;
}

.section-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.section-about p {
    margin: 0;
    color: var(--aero);
    text-align: center;
}

.section-about h1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
    color: var(--white);
}

.section-about ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0;
    gap: 1rem;
    list-style: none;
    line-height: 0;
}

.section-about ul li{
    margin: 0;
}

.section-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: auto;
}

.section-logo svg {
    width: 100%;
    height: auto;
    filter: drop-shadow(1px 0px 1px white);
    fill: white;
    stroke: white;
    stroke-dasharray: 474;
    stroke-dashoffset: 0;
    animation: drawLogo 4s linear;
}

.slide-container {
    width: 250px;
    margin-top: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.slide-pages {
    display: inline-block;
    animation: slidePages 5s linear infinite;
}

.slide-pages img{
    width: 60px;
    margin: 0 20px 0 0;
}

footer {
    color: #ffffff;
    text-align: center; 
    padding: 0;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

@keyframes drawLogo {
    0%{
        stroke-dashoffset: 474;
        fill: transparent;
    }
    90%{
        fill: transparent;
    }
    100%{
        stroke-dashoffset: 0;
        fill: white;
        filter: drop-shadow(1px 0px 1px white);
    }
}

@keyframes menuAbout {
    0%{
        color: transparent;
        left: -60px;
    }
    100%{
        color: #ffffff;
        left: 40px;
    }
}

@keyframes menuProjects {
    0%{
        color: transparent;
        right: -40px;
    }
    100%{
        display: block;
        color: #ffffff;
        right: 40px;
    }
}

@keyframes slidePages {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50.5%);
    }
}


@media (min-width: 1000px) {
    body {
        background-image: url('../img/backgroundhorizontal.png');
    }

    header {
        margin: 0;
        justify-content: center;
    }

    header nav ul {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    main {
        flex-direction: row;
    }

    section {
        
    }

    .section-about {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .section-about p {
        text-align: left;
        font-size: 30px;
        font-weight: 300;
    }
    
    .section-about h1 {
        font-size: 60px;
    }

    .section-about ul {
        justify-content: flex-start;
    }
    
    .section-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60vh;
        height: auto;
        margin-left: 3rem;
    }

    .slide-container {
        width: 600px;
    }

}