@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('variables.css');

body {
    font-family: "Fira Code", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(circle, #060250 80%, #030017 100%); */
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    border: 0;
    width: 100%;
    text-align: center;
}

footer {
    color: #ffffff;
    text-align: center; 
    padding: 0;
    width: 100%;
    bottom: 0;
    font-size: 1rem;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

h1 {
    /*TextConfig*/
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: -0.1rem;
    /*Margem*/
    margin: 0.7em 0;
}


span:hover {
    background-color:coral
}

.social-div {
    left: auto;
    right: 60px;
    margin: 0 auto;
    width: 40px;
    z-index: 10;
    bottom: 0px;
    position: fixed;
}

.social-ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
}

.social-line {
    display: flex;
    justify-content: start;
    width: 2px;
    height: 90px;
    margin: 0px auto;
    margin-left: 38%;
    background-color: #ffffff;
}

.social-line-horizontal {
    display: flex;
    justify-content: start;
    width: 300px;
    height: 2px;
    margin: 0px auto;
    margin-left: 5%;
    background-color: #ffffff;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 0 auto;
    width: 96%;
}

.simbol-title {
    font-size: 2rem;
    background-color: var(--aero);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap-reverse; 
    /* background-color: red; */
    margin: 0 auto; 
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.icon-crow-bio {
    max-width: 40%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* background-color: aqua; */
}

.icon-crow-bio:hover {
    width: 39%;
}

.bio-div {
    max-width: 50%;
    width: 100%;
    /* background-color: black; */
    padding: 20px;
    box-sizing: border-box; 
    color: white;
    margin-right: 20px; 
}

.about {
    color:white;
    margin: auto;
    margin-left: 3rem;
}

.logo{
    margin: 0 auto;
    max-width: 30%;
    height: 30%;

}

.bio-p-base {
    margin: 0%;
    white-space: pre-line;
}

.bio-greeting {
    font-size: 1rem;
    font-weight: 300;
    color: var(--aero);
    margin: 0%;
    white-space: pre-line;
}

.bio-about {
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    margin: 0%;
    white-space: pre-line;
}

.bio-name {
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin: 0%;
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tec {
    justify-content: left;
    height: auto;
    color: var(--aero);
}

.projects {
    height: 100%;
    white-space: pre-line;
}

.credits {
    color: var(--aero);
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        height: 600px;
    }

    .bio-div {
        max-width: 50%;
        text-align: left;
    }

    .icon-crow-bio {
        max-width: 40%;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 3rem;
    }

    .bio-name {
        font-size: 5rem;
    }
}




/* Deixar para depois */

/* 
.logo3 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    order: 1;
    justify-content:space-between;
    width: 100%;
} 

 .logo4 {
    display: block;
    width: 100%;
} 

 .link-icon {
    max-width: 5%;
    height: auto;
} 

.iconTopBar {
    max-width: 5%;
    height: auto;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

*/